{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    <h2>{{ article.header }}</h2>
    <h4>{{ article.author }}, {{ article.created_at }}</h4>
    <div class="container" style="white-space: pre-wrap">
        {{ article.content }}
    </div>
    <h3>Комментарии</h3>
    {% if request.user.is_authenticated %}
        <div id="comments"></div>
    {% else %}
        <p>Комментарии доступны только авторизованным пользователям</p>
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'comments.js' %}"></script>
{% endblock %}